/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');


:root {
  --hue: 150;
  --dark: hsl(var(--hue), 80%, 50%);
  --darker: hsl(200, 90%, 90%);
  --light: hsl(var(--hue), 80%, 90%);
}

body {
  font-family: 'Kiwi Maru', serif;
  background: ghostwhite;
} 

header {
  display: flex;
  flex-direction: row;
  justify-content: right;
  background-color: var(--dark);
  color: var(--light);
  align-items: center;
}

h1 {
  padding-left:  0.5em;
  padding-bottom: 0.25em;
  font-size: 3em;
}

h1, body {
  margin: 0;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  opacity: 1;
  top: 0;
  transition: 0.3s;
  transform: translateX(100vw);
  background-color: rgba(0, 200, 50, 0.6);
}

nav.open {
  display: flex;
  font-size: 2em;
  opacity: 1;
  transform: translateX(0);
  z-index: 2; 
}

nav a {
  color: ghostwhite;
  text-decoration: none;
  font-weight: bold;
  padding: 1em;
  width: 100vw;
  text-align: center;
  transition: background-color 0.7s;
}

nav a:hover {
  background-color: var(--light);
  color: var(--dark);
}


#menuToggler {
  font-size: 3.5em;
  position: fixed;
  top: 0;
  right: 0.5em;
  z-index: 3;
  border-radius: 4em;
  transition: 0.5s;
}

#menuToggler.contrast {
  background-color: var(--dark);
  transform: translate(0, 20%);
}

#menuToggler a:hover {
  background-color: black;
}

.topper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dark);
  color: var(--light);
  align-content: flex-start;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.search {
  display: flex;
  flex-direction: row;
}

.search input[type=text]{
  width:200px;
  height:25px;
  border-radius:25px;
  border: none;
}

.search button {
  background-color: var(--hue);
  position: relative;
  border-radius: 50px;
  border-style: none;
  color: ghostwhite;
  transition: 0.3s;
}

.search button:hover {
  background-color: ghostwhite;
}

#myQuery {
  margin-left: 2em;
}

.hero {
  margin-bottom: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.heroImage {
  width: 100%;
}

.heroText {
  position: absolute;
  text-align: center;
  width: 80vw;
  left: 50%;
  top: 17%;
  transform: translate(-50%, 50%);
}

.hero p {
  color: var(--light);
  font-size: 1.5em;
  background-color: var(--dark);
  padding: 0.2em
}


article {
  animation: fadeIn 0.8s; 
}

article :hover{
  filter: blur(2px);
  transition: 0.2s;
}

.recipeTiles section {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-column-gap:1em;
  grid-row-gap: 1em;
  padding: 1em;
}

.recipeTiles img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.recipeTiles h3 {
  position: absolute;
  transform: translate(0%, 300%);
  padding-right: 0.5em;
  font-size: 0.75em;
  width: fit-content;
  color: white;
  background-color: var(--dark);
  width: 42%;
}

.discoverTiles section {
  border-bottom: 0.5em solid var(--dark); 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.discoverTiles img {
  width: 200px;
  height: 200px;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.discoverTiles h2, h3 {
  position: absolute;
  padding-right: 0.5em;
  width:min-content;  
  color: white;
  background-color: var(--dark);
  
}

.discoverTiles h2{
  transform: translate(0%, -70%);
  font-size: 2em;
  width: auto;
  z-index: 1;
}

.discoverTiles h3{
  transform: translate(0%, 500%);
  font-size: 1em;
  width: auto;
}

form {
  background-color: var(--dark);
  display: grid;
  grid-row-gap: 0.25em;
  grid-column-gap: 0.5em;
  grid-template-columns: minmax(max-content, 1fr) 4fr;
  padding: 2em;
}

form label {
  grid-column: 1 / 2;
  justify-self: left;
  color: ghostwhite;
}

form input[type="search"] {
  grid-column: 2/ 3;
}
  
form input[type="submit"] {
  grid-column: 3 / 4;
  color: var(--dark);
  background-color: ghostwhite;
  border:  none;
  font-family: 'Kiwi Maru', serif;
  font-size: 1em;
}

/* DESKTOP STYLES */

@media screen and (max-width: 499px) {
  /*Instead of a nav drawer, a hotbar might be more user friendly */
}
/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */
  body {
    background: #cfc;
  }

  h1 {
    font-size: 4em;
    padding-left:  0.5em;
    padding-right: 0.5em;
  }

  h2 {
    position: relative;
    color: var(--light);
    font-size: 4em;
    background-color: var(--dark);
  }

  #menuToggler {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    position: static;
    transform: translateX(0);
    background-color: var(--dark);
    
  }

  nav a {
    font-size: 0.8em;
    padding: 2em;
    width: 5vw;
  }

  .topper {
    flex-direction: row;
    align-items: center;
  }

  .search input[type=text]{
    width:12vw;
  }

  .hero p {
    font-size: 3em;
  }

  .heroText {
    position: absolute;
    top: 30%;
    transform: translate(-50%, 50%);
    width: 60vw;
  }

  .recipeTiles {
    display: grid;
    align-content: center;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  
  .recipeTiles img {
    width: 100%;
    height: 300px;
  }

  .search {
    justify-content: left;
  }

  .discoverTiles img {
    width:  200px;
    height: 200px;
  }

  .discoverTiles h2{
    width: 15%;
    transform: translate(0%, -70%);
  }

  .recipeTiles h3 {
    font-size: 1em;
  }

  form {
    grid-column-gap: 1em;
  }

  form label {
    font-size: 1.5em;
    justify-self: center;
  }
  
}

/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: #ccf;
  }

  #menuToggler {
    display: none;
  }

  nav {
      display: flex;
      flex-direction: row;
  }
  
  body {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .heroImage, header {
    width: 80vw;
  }

  .hero p {
    font-size: 4em;
  }

  .recipeTiles h3 {
    width: 17vw;
  }

}